---
title: Pied Piper
---

<!--
Your content, if you choose to design it.
Feel free to modify all markup however you'd like.
-->
<h1>Go Small or Go Home</h1>
<p>A Middle-out Compression Solution to Make Data Storage Problems Smaller</p>
<h1>Pied Piper takes compression to a new level with a Weissman score of 5.</h1>
<a>Watch the overview video</a>
<h1>You’ll be in good company!</h1>
<ul>
  <li>Logo</li>
  <li>Logo</li>
  <li>Logo</li>
  <li>Logo</li>
  <li>Logo</li>
</ul>
<blockquote>“Our company relies on Pied Piper to shrink our CEO’s ego. While it can take 30 minutes or more to process, in the end we’re all much happier.” Mark Hurd, co-CEO, Oracle</blockquote>
<h1>A powerful interface for managing thousands compression projects simultaneously</h1>
<p>Manage everything from a single dashboard. View files compressed, types of files (data, image, video, 3-D video), space saved and more. Every day, Pied Piper is helping companies deploy an integrated, multi-platform functionality of all applications of our algorithm to provide a suite of compression services across diversified market segments. In this way, we hope to positively impact our planet.</p>
<h1>Less is way, way more</h1>
<p>Pied Piper offers companies of all sizes vast scales of efficiency and tremendous benefits.</p>
<h1>Compress file sizes fast</h1>
<p>A universal compression engine stacks on any file, data, video or image, no matter what size.</p>
<h1>Middle-out algorithm</h1>
<p>Efficient encoding of your data means your long-range structure just works. Period.</p>
<h1>Even smaller files</h1>
<p>Now you see it, now… you have a hard time seeing it because it’s so much smaller.</p>
<h1>Faster downloads</h1>
<p>Smaller sizes beget faster downloads, smoother streaming, and a better user experience.</p>
<h1>It’s in the cloud</h1>
<p>The power of the cloud meets the power of compression to be really powerful.</p>
<h1>Collaboration workflows</h1>
<p>Built for the entire team, Pied Piper has built in collaboration tools to enable synergy.</p>
<h1>Get Pied Piper free for 30 days</h1>
<p>Try it free for 30-days. No credit card required.</p>

<form action="#">
<label>Name</label>
<input type="text" name="name">
<label>Email Address</label>
<input type="text" name="email">
<label>I agree to Pied Piper’s <a>terms of service</a></label>
<input type="checkbox" name="replies">
<label>Leave a comment</label>
<textarea name="comment_text"></textarea>
</form>